div {
    background-color: lightcoral !important;
    padding: 10px;
    margin: 100px;
    color:blue;
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

div.outer-div {
    background-color:  lightgreen !important;
    padding: 10px;
    margin: 100px;
    color:blue;
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

/* Select by attribute */
input[type="text"] {
    border: 2px solid red !important;
    padding: 2vh;
    margin: 10px;
}

/* 
#innerDiv {
    background-color: red !important;
    width: 50px;
    height: 50px;
}

.outer-div {
    background-color: aquamarine !important;
} */

/* multiple selector */
/* #innerDiv, .outer-div {
    background-color: green !important;
    width: 50px;
    height: 50px;
} */

/* apply style to child */
/* #innerDiv .outer-div {
    background-color: green !important;
    width: 50px;
    height: 50px;
} */


